<main class="mainArea">

    <div class="curLocation leftSide">

        <div class="curLocationTitle">
            <h1>Liverpool</h1>
        </div>

        <div class="genInfo">

            <h2 class="curDegree">6°C</h2>
            <h2 class="curStatus">Rainy</h2>
            <h2 class="curAdvice">Get your Umbrella</h2>
        </div>
        <div class="extraInfo">
            <h3 class="windSpeed">Wind: 16mph</h3>
            <h3 class="sunrise">Sunrise: 07:12</h3>
            <h3 class="sunset">Sunset: 18:03</h3>
        </div>
    </div>

    <div class="middle">
        <p class="logoType">weathe(ve)rtheweather</p>
        <div class="try"></div>
    </div>

    <div class="rightSide">

        <div class="favLocationTitle">Your Locations</div>
        <div class="yourLocations">
            <button class="favLocation">IST</button>
            <button class="favLocation">MAN</button>
            <button class="favLocation">BUE</button>
            <button class="favLocation">NYC</button>
            <button class="favLocation">MCO</button>
            <button class="favLocation">KEN</button>
        </div>

        <div class="searchBar">
            <form method="GET" action="/" class="searchForm">
                <label for="searchArea" class="searchBarTitle">search a location</label></br>
                <input type="text" class="searchBarArea" name="searchArea"></br>
                <input type="submit" class="submitBtn" value="submit">
            </form>
        </div>

        <div class="randomLocBtnArea">
            <button class="randomLocBtn">weathe(ve)rise</button>
        </div>

    </div>
</main>